@media (max-width: 576px) { 

 }





@media (max-width: 1100px) { 

 }

@media (max-width: 1200px) { 
    .statistics-info {
        width: 100%;
        max-width: 1080px;
    }
    .export-button {
        margin-top: 10px;
    }
    .statistics-block {
        flex-direction: column-reverse;
    }
    .offers-block {
        display: flex;
        flex-direction: row-reverse;
    }
    .statistics-info, 
    .offers-block {
        min-height: 250px;
        align-items: center;
    }
    .export-section {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0px;
    }
    .filter-panel {
        position: absolute;
        top: 40px;
        left: 35px;
    }
    .filter-panel:not(.active) {
        width: auto;
        min-width: auto;
        background-color: transparent;
    }
    .filter-head {
        margin: 0;
    }
    .filter-panel:not(.active) .filter-icon {
        background-image: url('../img/filter-icon-white.png');
        position: absolute;
        top: -35px;
        left: 5px;
    }
    .filter-panel.active {
        border-radius: 0px 12px 12px 12px;
        padding: 10px;
        box-shadow: 0px 1px 2px 2px rgb(111 213 255 / 12%);
        z-index: 3;
    }
    .filter-panel.active .filter-icon {
        position: absolute;
        top: -35px;
        background-color: #fff;
        padding: 20px;
        border-radius: 9px 9px 0px 0px;
        left: 0px;
    }
    .intro-img,
    .filter-head p,
    .filter-panel:not(.active) .filter-list {
        display: none;
    }
    .intro-text {
        text-align: center;
    }

    .tab-content {
        max-width: 100%;
    }

    .swiper-button-next, 
    .swiper-button-prev {
        top: calc(100% - 50px);
    }

    .swiper-button-next {
        right: calc(50% - 80px);
    }
    .swiper-button-prev {
        left: calc(50% - 80px);
    }
    .footer-copyright-md {
        display: block;
    }
    .footer-copyright {
        display: none;
    }
 }

 @media (max-width: 992px) { 
    .intro-text {
        margin: 0;
        padding: 0;
    }
    .slider-item {
        flex-direction: column;
        border-radius: 50px;
    }
    .slider-img-block,
    .slider-content-block {
        width: 100%;
    }
    .offers-block {
        flex-direction: column-reverse;
        margin-bottom: 30px;
    }
    .export-section {
        flex-direction: row;
        align-items: center;
        width: calc(100% - 60px);
        justify-content: space-between;
        margin-bottom: 30px;
    }

 }

 @media (max-width: 768px) { 
    .investor .head-info {
        flex-direction: column;
    }
    .content-navbar {
        flex-direction: column-reverse;
    }
    .navbar-block {
        width: 100%;
        margin: 0;
    }
    .navbar-block h2 {
        text-align: center;
        width: 100%;
        margin-bottom: 30px;
    }
    .filter-panel {
        left: calc(100% - 380px);
        top: -20px;
    }
    .filter-panel.active {
        border-radius: 12px 0px 12px 12px;
    }
    .filter-panel:not(.active) .filter-icon {
        left: calc(100% - -270px);
    }
    .content {
        padding-top: 0;
    }
    .filter-panel.active .filter-icon {
        top: -35px;
        left: calc(100% - 40px);
    }
 }