@media (max-width: 1200px) { 
    .statistics-info {
        width: 100%;
        max-width: 1080px;
    }
    .export-button {
        margin-top: 10px;
    }
    .statistics-block {
        flex-direction: column-reverse;
    }
    .offers-block {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: center;
    }
    .statistics-info, 
    .offers-block {
        min-height: 250px;
        align-items: center;
    }
    .export-section {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0px;
    }
    .filter-panel {
        position: absolute;
        top: 40px;
        left: 35px;
    }
    .filter-panel:not(.active) {
        width: auto;
        min-width: auto;
        background-color: transparent;
        z-index: 6;
    }
    .filter-head {
        margin: 0;
    }
    .filter-panel:not(.active) .filter-icon {
        background-image: url('../img/filter-icon-white.png');
        position: absolute;
        top: -35px;
        left: 5px;
    }
    body.pricing .content {
        padding: 0;
    }
    .filter-panel.active {
        border-radius: 0px 12px 12px 12px;
        padding: 10px;
        box-shadow: 0px 1px 2px 2px rgb(111 213 255 / 12%);
        z-index: 3;
    }
    .filter-panel.active .filter-icon {
        position: absolute;
        top: -35px;
        background-color: #fff;
        padding: 20px;
        border-radius: 9px 9px 0px 0px;
        left: 0px;
    }
    .intro-img,
    .filter-head p,
    .filter-panel:not(.active) .filter-list {
        display: none;
    }
    .intro-text {
        text-align: center;
    }

    .tab-content {
        max-width: 100%;
    }

    .swiper-button-next, 
    .swiper-button-prev {
        top: calc(100% - 50px);
    }
    .slider-add-button {
        left: calc(100% - 380px);
    }

    .swiper-button-next {
        right: calc(50% - 80px);
    }
    .swiper-button-prev {
        left: calc(50% - 80px);
    }
    .footer-copyright-md {
        display: block;
        margin-top: 10px;
    }
    .footer-copyright {
        display: none;
    }
    body.pricing .buttons-section .buy-contacts {
        display: none;
    }
    body.pricing .buttons-section .add-project {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    body.pricing .offers-block {
        justify-content: space-around;
    }
    .navbar-block h2 {
        text-align: left;
    }
 }

 @media (max-width: 1100px) { 
    .swiper {
        border-radius: 30px;
    }
    .swiper-wrapper {
        padding-top: 0;
    }
    body.pricing .content {
        padding-top: 50px;
    }
    body.pricing .add-button-m {
        position: absolute;
        top: 0px;
        background-color: #fff;
        color: #1A7296;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        width: 100px;
        border-radius: 9px;
        border: none;
        left: 68%;
    }
}

 @media (max-width: 992px) { 
    .intro-text {
        margin: 0;
        padding: 0;
    }
    .slider-item {
        flex-direction: column;
        border-radius: 50px;
    }
    .slider-img-block,
    .slider-content-block {
        width: 100%;
    }
    .offers-block {
        flex-direction: column-reverse;
        margin-bottom: 30px;
    }
    .export-section {
        flex-direction: row;
        align-items: center;
        width: calc(100% - 60px);
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .filter-panel .buy-contacts {
        height: 35px;
        width: auto;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

 }

 @media (max-width: 768px) { 
    body.pricing .add-button-m {
        position: absolute;
        top: -50px;
        background-color: #fff;
        color: #1A7296;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        width: 100px;
        border-radius: 9px;
        border: none;
        left: calc(100% - 100px);
    }
    body.pricing .content {
        padding-top: 0px;
    }
    .export-section {
        display: none;
    }
    body.pricing .buttons-section .add-project {
        margin: 0 auto;
        height: 35px;
        width: 130px;
    }
    body.pricing .offers-block {
        margin-bottom: 30px;
        min-height: auto;
        margin-top: 50px;
    }
    .investor .head-info {
        flex-direction: column;
    }
    .content-navbar {
        flex-direction: column-reverse;
    }
    .navbar-block {
        width: 100%;
        margin: 0;
    }
    .navbar-block h2 {
        text-align: center;
        width: 100%;
        margin-bottom: 30px;
    }
    
    .filter-panel {
        top: -15px;
        min-width: auto;
        width: 200px;
        left: calc(100% - 325px);
    }
    body.home .filter-panel {
        left: calc(100% - 225px);
    }
    .filter-panel.active {
        border-radius: 12px 0px 12px 12px;
    }
    .filter-panel:not(.active) .filter-icon {
        left: calc(100% - -130px);
    }
    .content {
        padding-top: 0;
    }
    .filter-panel.active .filter-icon {
        top: -35px;
        left: calc(100% - 40px);
    }
    .tab-content {
        margin: 0;
    }
    .offers-block,
    .buttons-section,
    .swiper-slide {
        width: 100%;
    }

    .buy-contacts,
    .add-project {
        width: calc(50% - 65px);
        font-size: 14px;
    }
    .statistics-item {
        width: 30%;
    }
    .statistics-item span {
        font-size: 16px;
        width: 100%;
    }
    .statistics-item p,
    .footer .bold-text,
    .copyright {
        font-size: 14px;
    }
    .footer {
        padding: 30px 0px;
    }
    .payments-options img {
        width: 40px;
    }
    .main-content-block {
        padding: 100px 20px 200px 20px;
    }
    .navbar-block {
        min-width: auto;
    }

    .slider-content-block h3 {
        font-size: 16px;
    }
    .slider-item {
        width: 100%;
    }

    h1 {
        font-size: 24px;
        line-height: 28px;
    }
    .intro-block .subtitle {
        font-size: 16px;
        line-height: 19px;
    }
    .intro-block .buy-contacts {
        display: none;
    }
    .filter-list p {
        margin: 5px;
    }
    .filter-list p, 
    .filter-head p,
    .styled-checkbox + label,
    .slider-category-block .category,
    .investor p, 
    .slider-item .contacts-block p, 
    .investor-description p,
    .export-section p,
    .investor-address .bold-text {
        font-size: 12px;
        line-height: 14px;
    }
    .filter-list li {
        margin: 10px 5px;
    }
    .investment-price p,
    .investment-price span,
    .slider-link a,
    .revenue-block p,
    .investor-description span,
    .export-button,
    .buy-contacts,
    .investor-company .bold-text,
    .offer-item h3 {
        font-size: 16px;
        line-height: 19px;
    }
    .slider-link{
        margin-right: 20px;
    }
    .payments-options {
        margin-top: 30px;
    }
    .buttons-section {
        text-align: center;
    }
    .offer-item {
        flex-direction: column;
    }
    .offer-item .buy-contacts {
        margin-top: 15px;
    }
    .export-button {
        height: 35px;
    }
 }

 @media (max-width: 576px) { 
    .statistics-block h2 {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }
    .offers-block {
        margin-top: -50px;
    }
    .buttons-section .buy-contacts {
        margin: 0px 10px;
    }
    .buy-contacts {
        width: 160px;
        height: 50px;
    }
    .main-content-block {
        padding-bottom: 0px;
    }
    .investors-list {
        padding-bottom: 50px;
    }
    .swiper-button-next, 
    .swiper-button-prev {
        display: none;
    }
    .tab {
        height: auto;
        font-size: 14px;
    }
    .navbar-block h2 {
        font-size: 20px;
        line-height: 24px;
    }
    .contacts-count span, 
    .contacts-count p,
    .statistics-item p,
    .form-block input {
        font-size: 14px;
        line-height: 17px;
    }
}